
export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

#source /usr/share/colcon_argcomplete/hook/colcon-argcomplete.bash
source /opt/ros/foxy/setup.bash
source ~/driving_swarm_infrastructure/install/local_setup.bash
export TURTLEBOT3_MODEL=burger
# export ROS_DOMAIN_ID=0