[Unit]
Description=Custom Zenoh Bridge for ROS2
After=network-online.target DrivingSwarmCore.service
Wants=network-online.target DrivingSwarmCore.service

[Service]
Type=simple
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && exec /usr/bin/zenoh-bridge-ros2dds client -c /etc/zenoh/config.json5"
Restart=on-failure
RestartSec=2
Environment=RUST_LOG=info
User=turtle
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
